/*--------------------------------------------------------------

Master Stylesheet

Template:	    Django - One Page HTML5 Website Template
Author: 		Hozaifa_Gawesh
URL:			https://themeforest.net/user/hozaifa_gawesh/


[Table of contents] :

    1.Global
    2.Parallax
    3.About
    4.Services
    5.portfolio
    6.Pricing
    7.Team 
    8.Testimonials
    9.Blog
    10.Contact
    11.Loading

----------------------------------------------------------------*/


/***********************************
1. Start Global
***********************************/

*{
	margin: 0;
	padding: 0;
}

body {
    font-family: Poppins,sans-serif;
}

ul , li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a , a:hover , a:focus {
	text-decoration: none;
	outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

i, span, a, input, button, img{
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
input:focus{
	outline: 0;
}

.white {
    color: #fff !important;
}

.margin-65 {
    margin-top: 65px;
}

.clear{
	clear: both;
}

p {
    line-height: 1.7 !important;
}

::selection {
    background-color: #EE3A55;
    color: #fff;
}

/***********************************
End Global
***********************************/



/***********************************
2. Start Parallax
***********************************/
.parallax {
    width: 100%;
    height: 700px;
    background: url('../image/parallax.jpg') no-repeat fixed;
    background-position: center 0px;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}


.parallax:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 720px solid #fff;
    border-top: 150px solid transparent;
}


.parallax:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 720px solid #fff;
    border-top: 150px solid transparent;
}

.parallax .overlay-parallax {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.parallax .header .logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.parallax .header .toggle {
    float: right;
    margin-top: 36px;
    cursor: pointer;
}
.parallax .header .toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    
}

.parallax .header .links {
    position: absolute;
    right: 0px;
    top: 30px;
    text-align: right;    
    overflow-x: hidden;
    z-index: 9999;
}


.parallax .header .links ul li i {
    display: inline-block;
    background-color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #EE3A55;
    transition: all 0.5s ease-in-out;
}

.parallax .header .links ul li {
    margin-bottom: 10px;
    margin-right: -170px;
}


.parallax .header .links ul li:nth-child(1) {
    transition: all 0.3s ease-in-out;
}

.parallax .header .links ul li:nth-child(2) {
    transition: all 0.5s ease-in-out;
}

.parallax .header .links ul li:nth-child(3) {
    transition: all 0.7s ease-in-out;
}

.parallax .header .links ul li:nth-child(4) {
    transition: all 0.7s ease-in-out;
}

.parallax .header .links ul li:nth-child(5) {
    transition: all 0.9s ease-in-out;
}

.parallax .header .links ul li:nth-child(6) {
    transition: all 1.1s ease-in-out;
}

.parallax .header .links ul li:nth-child(7) {
    transition: all 1.3s ease-in-out;
}

.parallax .header .links ul li:nth-child(8) {
    transition: all 1.5s ease-in-out;
}

.parallax .header .links ul li:nth-child(9) {
    transition: all 1.7s ease-in-out;
}

.parallax .header .links ul li:nth-child(10) {
    transition: all 1.9s ease-in-out;
}

.parallax .header .links ul li a {
    display: inline-block;
    background-color: #000;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    color: #EE3A55;
    text-transform: uppercase;
}

.parallax .header .links ul li a:hover {
    background-color: #fff;
}

.parallax .slider {
	position: absolute;
	top: 20%;
	left: 0;
    right: 0;
    margin: auto;
	z-index: 20;
	text-align: center;
	width: 70%;
	height: auto;
	border-radius: 60px 0 60px 0;
	padding-top: 70px;
	padding-bottom: 70px;
}

.parallax .slider > div {
    display: none;
}

.parallax .slider .active {
    display: block;
}

.parallax .slider h1{
	text-align: center;
	color: #fff;
	font-size: 60px;
	letter-spacing: 2px ;
	margin-bottom: 10px;
    font-weight: bold;
	
	-webkit-text-shadow: 0px 2px 2px #000;
	-moz-text-shadow: 0px 2px 2px #000;
	-o-text-shadow: 0px 2px 2px #000;
	-ms-text-shadow: 0px 2px 2px #000;
	text-shadow: 0px 2px 2px #000;
}

.parallax .slider h3{
	text-align: center;
	color: #fff;
	font-size: 27px;
    margin-top: 45px;
	
	-webkit-text-shadow: 0px 2px 2px #000;
	-moz-text-shadow: 0px 2px 2px #000;
	-o-text-shadow: 0px 2px 2px #000;
	-ms-text-shadow: 0px 2px 2px #000;
	text-shadow: 0px 2px 2px #000;
}

.parallax .buttons-intro {
    margin: 50px auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
}

.parallax .buttons-intro a {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 18px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #EE3A55;
}

.parallax .buttons-intro a:nth-child(1):hover {
    background-color: transparent;
    color: #fff;
}

.parallax .buttons-intro a:nth-child(2) {
    position: relative;
    left: 50px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.parallax .buttons-intro a:nth-child(2):hover {
    background-color: #EE3A55;
    color: #fff;
    border-color: #EE3A55;
}

.parallax .header-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    display: none;
}

.parallax .show_header {
    display: block;
}

.header-scroll .navbar-default {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 10px #999;
    margin-bottom: 0;
    border-bottom: 1px solid #999;
}

.header-scroll .navbar-brand {
    padding: 8px 0 0 0;
}

.header-scroll .navbar-default .navbar-nav {
    float: right;
}

.header-scroll .navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #000;
}


.header-scroll .navbar-default .navbar-nav>.active>a:focus,
.header-scroll .navbar-default .navbar-nav>.active>a:hover {
    color: #EE3A55;
}

.header-scroll .navbar-default .navbar-nav>li>a {
    padding: 20px 13px;
    font-size: 14px;
    color: #000;
}

.header-scroll .navbar-default .navbar-nav>li>a:focus,
.header-scroll .navbar-default .navbar-nav>li>a:hover {
    color: #EE3A55;
}

/***********************************
End Parallax
***********************************/




/***********************************
3. Start About Us
***********************************/
.about {
    padding: 100px 0;
}

.heading-section h2 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    transition: all 0.4s ease-in-out;
}

.heading-section h2:before {
    content: '';
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 3px;
    border-top: 4px double #EE3A55;
    transition: all 0.4s ease-in-out;
}

.heading-section h2.white:before {
    border-color: #ccc;
}

.heading-section:hover h2:before {
    width: 90px;
}

.heading-section p {
    width: 65%;
    margin: 50px auto;
    color: #666;
    text-align: center;
}

.about .icon {
    margin: 30px auto 20px;
    text-align: center;
}

.about .info-icon h3 {
    color: #545a5f;
    text-align: center;
}

.about .info-icon p {
    margin-top: 20px;
    color: #808080;
    font-size: 13px; 
    text-align: center;
}

/***********************************
End About Us
***********************************/



/***********************************
4. Start Services
***********************************/
.services {
    width: 100%;
    background: url("../image/services.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.services:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    top: -50px;
}

.services .overlay-services {
    width: 100%;
    height: 100%;
    padding: 100px 0 150px;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.services .service {
    margin: auto;
    text-align: center;
    padding: 40px 10px;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.services .service:hover {
    background-color: #fff;
}

.services .service .icon-service img{
/*    background-color: #000;*/
    padding: 20px;
}

.services .service .block {
    display: none;
}

.services .service:hover .none {
    display: none;
}

.services .service:hover .block {
    display: block;
    margin: auto;
}

.services .service:hover img {
    background-color: transparent;
}

.services .service .info-service h3 {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 28px;
    letter-spacing: 2px;
}

.services .service:hover h3 {
    color: #333;
}

.services .service .info-service P {
    color: #eee;
    margin-top: 20px;
    word-spacing: 2px;
}

.services .service:hover p {
    color: #666;
}

/***********************************
End Services
***********************************/



/***********************************
5. Start Portfolio
***********************************/

.portfolio {
    padding: 100px 0;
    position: relative;
    width: 100%;
}

.portfolio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    top: -50px;
}

.portfolio .works {
    width: 100%;
    margin-top: 50px;
}

.portfolio .works .tabs-works {
    margin: 0 auto 80px;
    text-align: center;
}

.portfolio .works .tabs-works div {
    color: #EE3A55;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid #EE3A55;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.portfolio .works .tabs-works div:hover {
    color: #fff;
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7))
}

.portfolio .works .tabs-works .active {
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    color: #fff;
    border: 0;
}

.dropdown-filters {
    display: none;
    margin: 0 auto 80px;
}

.dropdown-filters .dropdown {
    width: 100%;
}

.dropdown-filters button {
    width: 100%;
    height: 45px;
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    border: 0;
    color: #fff;
    font-size: 18px;
}

.dropdown-filters .dropdown-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
}

.dropdown-filters  ul li {
    border-top: 1px solid #EE3A55;
    color: #EE3A55;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.dropdown-filters  ul li:hover {
    border-color: #ccc;
    color: #fff;
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7))
}

.dropdown-filters  ul .active {
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    color: #fff;
}

.portfolio .works {
    overflow-x: hidden;
}

.portfolio .works .col-md-3 {
    padding: 0;
}

.portfolio .photo-work {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.portfolio img {
    width: 100%;
    height: 260px;
}

.portfolio .photo-work .overlay-photo-work-1 {
    position: absolute;
    left: -52%;
    top: 0;
    width: 50.1%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.portfolio .photo-work:hover .overlay-photo-work-1 {
    left: 0;
}



.portfolio .photo-work .overlay-photo-work-2 {
    position: absolute;
    right: -52%;
    top: 0;
    width: 50.2%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.portfolio .photo-work:hover .overlay-photo-work-2 {
    right: 0;
}

.portfolio .photo-work .zoom {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #fff;
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio .photo-work:hover .zoom {
    top: 40%;
}

.portfolio .photo-work .zoom i {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.portfolio .mix {
    display: none;
}

.mfp-arrow-right:before,
.mfp-arrow-left:before{
    border-left: 0;
    border-right: 0;
}

.portfolio .view-all a {
    display: block;
    margin-top: 70px;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background: linear-gradient(to left, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    text-align: center;
}

.portfolio .view-all a:hover {
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}


.mfp-bg {
    z-index: 999999999 !important;
}

.mfp-wrap {
    z-index: 999999999 !important;
}

/***********************************
End Porrtfolio
***********************************/





/***********************************
6. Start Pricing
***********************************/
.pricing{
    width: 100%;
    background: url("../image/pricing.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.pricing:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    top: -50px;
}

.pricing .overlay-pricing {
    width: 100%;
    height: 100%;
    padding: 100px 0 150px;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.pricing .price {
    background: #fff;
    box-shadow: 2px 2px 10px #fff;
    padding: 50px 0;
    margin-top: 30px;
    position: relative;
    transition: all 0.4s ease;
    overflow-x: hidden;
}

.pricing .price:hover {
    box-shadow: 4px 4px 40px #fff;
    
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.pricing .price .offer {
    position: absolute;
    top: 10px;
    right: -42px;
    width: 150px;
    padding: 7px 0;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(43deg);
}

.pricing .price .top-price {
    width: 170px;
    height: 170px;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    margin: auto;
    border-radius: 50%;
}

.pricing .price .top-price h3 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    position: relative;
    top: 45px;
}

.pricing .price .top-price h3:before {
    content: '$';
    position: absolute;
    top: 10px;
    left: 23px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.pricing .price .top-price span {
    position: relative;
    top: 40px;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.pricing .price .content-price h4 {
    font-size: 35px;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-weight: bold;
    letter-spacing: 3px;
}

.pricing .price .content-price h5 {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    color: #666;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.pricing .price .content-price p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.pricing .price .content-price a {
    display: block;
    width: 60%;
    padding: 12px 0;
    color: #fff;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    font-size: 20px;
    margin: 30px auto 0;
    text-align: center;
    border: 1px dashed transparent;
}

.pricing .price .content-price a:hover {
    background: transparent;
    color: #EE3A55;
    border-color: #EE3A55;    
}

/***********************************
End Pricing
***********************************/



/***********************************
7. Start Team
***********************************/
.team {
    padding: 100px 0;
    position: relative;
    width: 100%;
}

.team:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    top: -50px;
}

.team .personal {
    margin-top: 30px;    
}

.team .personal .image-personal {
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.team .personal .image-personal img {
    width: 100%;
}

.team .personal .image-personal .overImg-team {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team .personal:hover .image-personal .overImg-team {
    left: 0;
}

.team .personal .image-personal .overImg-team i {
    font-size: 35px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: -100% auto;
    display: block;
    
    transition: all 1s ease-in-out;
}

.team .personal:hover .image-personal .overImg-team i {
    margin: 40% auto;
}

.team .personal .info-personal {
    float: left;
    width: 50%;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    padding: 20px;    
    transition: all 0.4s ease-in-out;
}

.team .personal:hover .info-personal {
    background: linear-gradient(to top, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.team .personal .info-personal h3 {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}

.team .personal .info-personal h4 {
    color: #fff;
    font-size: 16px;
    padding-top: 20px;
}

.team .personal .info-personal .social {
    margin-top: 35px;
}

.team .personal .info-personal .social a i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 22px;
    text-align: center;    
    margin-right: 5px;
}

.team .personal .info-personal .social a i:hover {
    background-color: #fff;
    color: #EE3A55;
}

/***********************************
End Team
***********************************/




/***********************************
8. Start Testemonials
***********************************/
.testimonials{
    width: 100%;
    background: url("../image/testemonials.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.testimonials:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    top: -50px;
}

.testimonials .overlay-testimonials {
    width: 100%;
    height: 100%;
    padding: 100px 0 150px;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.testimonials .testimonials-client {
    width: 80%;
    margin: 50px auto 0;
    text-align: center;
}

.testimonials .testimonials-client .img-client {
    text-align: center;
    margin: auto;
}

.testimonials .testimonials-client .img-client img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonials .testimonials-client .img-client p {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 15px;
    color: #fff;
}

.testimonials .testimonials-client .content-client p{
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    width: 30px;
    height: 4px;
    background: #fff;
}
/***********************************
End Testemonials
***********************************/



/***********************************
9. Start Blog
***********************************/

.blog {
    padding: 100px 0;
    position: relative;
    width: 100%;
}

.blog:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    top: -50px;
}

.blog .article {
    width: 100%;
    margin-top: 30px;
}

.blog .article .col-md-6 {
    padding: 0;
}

.blog .article .img-article img {
    width: 100%;
}

.blog .article .content-article {
    padding: 40px;
}

.blog .article .content-article h3 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.blog .article .content-article span {
    margin-right: 20px;
    color: #a6a6a6;
    font-size: 14px;
}

.blog .article .content-article p {
    padding-top: 30px;
    color: #666;
    font-size: 14px;
}

.blog .article .content-article a {
    color: #EE3A55;
}

.blog .article .content-article a:hover i {
    margin-left: 15px;
}

/***********************************
End Blog
***********************************/




/***********************************
10. Start Contact
***********************************/
.contact{
    width: 100%;
    background: url("../image/contact.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
    z-index: 999;
}

.contact:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    top: -50px;
}

.contact .overlay-contact {
    width: 100%;
    height: 100%;
    padding: 100px 0 0px;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
}

.contact .form-contact {
    margin-top: 50px;
    padding-bottom: 30px;
}

.contact .form-contact .form-control {
    height: 50px;
    border-radius: 0;
    box-shadow: 0 0 0 0 ;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    resize: vertical;
    margin-bottom: 30px;
}

.contact .form-contact .form-control:focus {
    border-color: #1a1a1a;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.contact .form-contact textarea.form-control {
    height: 170px;
}

.form-contact .form-control::placeholder {
  color: #fff !important;
}

.contact .form-contact button.form-control {
    background-color: #fff ;
    color: #EE3A55;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.4s ease;
}

.contact .form-contact button.form-control:hover {
    background-color: transparent;
    color: #fff;
}

.contact .info-contact {
    margin-top: 30px;
    text-align: center;
}

.contact .info-contact p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.contact .info-contact i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 32px;
    margin: auto;
    color: #fff;
}

.contact .info-contact .fa-home {
    font-size: 35px;
}

.contact .info-contact .fa-mobile  {
    font-size: 38px;
}

.line {
    border-top: 1px solid #fff;
    width: 100%;
    height: 1px;
    box-shadow: 2px 2px 55px #fff;
}

.contact .footer p{
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
    float: left;
}

.contact .footer a {
    color: #fff;
}

.contact .footer a:hover {
    color: #ccc;
}

.contact .footer .social-media {
    float: right;
    padding: 20px;
}

.contact .footer .social-media a i {
    color: #fff;
    font-size: 16px;
    margin-left: 15px;  
}

.contact .footer .social-media a i:hover {
    color: #999
}


#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
    display: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#scroll-top i {
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    box-shadow: 0;
    z-index: 999999;
}

#scroll-top:hover {
    bottom: 25px;
}
/***********************************
End Contact
***********************************/




/***********************************
11. Start Loading
***********************************/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999999;
}


.sk-folding-cube {
  margin: 20% auto;
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}


/***********************************
End Loading
***********************************/









